*
  margin 0
  padding 0
  box-sizing border-box

  font-family "Roboto"

//Fonts
header-font = "Raleway"
main-font = "Roboto"

//Base colors
bgcolor = #EBCB8B
bghilit = #D8B265
textdim = #757068
text = #524B3E

//Accent colors
nblue = #5E81AC
nred = #BF616A
norange = #D08770
nyellow = #EBCB8B
ngreen = #A3BE8C
nviolet = #B48EAD

//Spacing
spacing-tiny = 8px
spacing-small = 16px
spacing-base = 24px
spacing-large = 48px
spacing-xlarge = 64px

//Font size
size-title1 = 44px
size-title2 = 32px
size-title3 = 24px
size-large = 19px
size-regular = 17px
size-small = 14px
size-micro = 9px

//Text color classes
.blue
  color nblue
.red
  color nred
.orange
  color norange
.yellow
  color nyellow
.green
  color ngreen
.blue
  color nviolet

//Font size classes
.large
  font-size size-large

.small
  font-size size-small

//Globals
body
  min-width 100vw
  min-height 100vh

  background bgcolor


h1, h2, h3
  font-family header-font
  color text
  text-align center

h1
  font-weight 300
  font-size size-title1
  padding spacing-base

h2
  font-weight 300
  font-size size-title2
  padding spacing-base

h3
  font-weight 400
  font-size size-title3
  padding spacing-base

a
  text-decoration none
  color text

  transition all .4s ease-in-out

  &.secondary
    color textdim
    font-size size-small

    &:hover, &:active
      color text

input[type='text'], input[type='number'], select
  background none
  appearance none
  outline none
  border none

  color text
  padding spacing-small
  border-bottom 1px text solid

  transition all .4s ease-in-out

  &::-webkit-input-placeholder
    color rgba(text, .5)

  &:focus
    background rgba(textdim, .3)



.button
  appearance none
  outline none
  padding spacing-small
  margin spacing-small
  color text

  border 1px text solid
  border-radius 5px

  transition all .4s ease-in-out

  &:active, &:hover
    color bgcolor
    border-color text
    background-color text

.hidden
  display none

//Flex classes
.center
  display flex
  align-items center
  justify-content center

.column
  display flex
  flex-direction column
  justify-content center
  align-items center

.row
  display flex
  justify-content space-around

.wrapper
  height 100%
  width 100%

.container
  max-width 960px
  margin auto

.fade
  animation loadComponent .7s ease-in-out forwards

.full
  width 100%

//=====================================================================================
#index, #main-logo, .component
  animation loadComponent 1.2s ease-in-out

#main-logo
  height 40%
  width auto

#main-menu
  .button
    opacity 0
    width 100%
    animation loadComponent 1.2s ease-in-out
    animation-fill-mode forwards

  .button:nth-of-type(1)
    animation-delay 0.2s
  .button:nth-of-type(2)
    animation-delay 0.4s
  .button:nth-of-type(3)
    animation-delay 0.6s

#create
  input[type='text']
    margin spacing-tiny
    width 100%
  .button
    text-align center
    width 100%

#main-bar
  width 100%

  #time
    flex 2

  #options
    flex 1
    width 100%

#add-player
  visibility hidden
  transform scale(1, 0)
  transform-origin center top

  transition all .4s ease-in-out

  &.active
    visibility visible
    transform scale(1, 1)

  #buttons
    width 40%

  .row
    padding spacing-tiny

    &>*
      margin 0 spacing-tiny

//=====================================================================================

//Animations
@keyframes loadComponent
  0%
    transform translateY(-10%)
    opacity 0
  100%
    transform translateY(0)
    opacity 1

@keyframes fadeComponent
  0%
    transform translateY(0)
    opacity 1
  100%
    transform translateY(-10%)
    opacity 0

@keyframes backgroundAnimation
    0%
      background-position:0% 50%
    50%
      background-position:100% 50%
    100%
      background-position:0% 50%
