.inactive
  display none !important

.container
  max-width 960px
  margin auto

#qr
  font-family monospace
  line-height 50%
  font-size 4vh

#welcome
  width 100%

  display flex
  flex-direction column
  justify-content center
  align-items center

  background url('../assets/img/bg.jpg') center
  background-size cover

#welcome-logo
  height 50%

#add-player, #new-tournament
  position absolute
  background white
  top 0
  left 0
  box-shadow 2px 2px 35px rgba(black, .5)

  width 100%
  max-height 60%

  overflow auto

  z-index 10

#nothing
  width 100%
  text-align center
  padding 5em
  opacity .3

#players tbody tr.dropped
  opacity .5

#no-cut
  form
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100%
    width 100%

#timer
  display flex
  flex-direction column
  justify-content center
  align-items center

  form
    display flex
    justify-content center
    align-items center

    .timer-form
      display inline
      width 100px
      margin 1em

  #timer-large
    font-size 20vw
    text-align center

#web-services
  display flex
  flex-direction column
  align-items center
  height 100%
  padding 5em

  #qr
    flex 1

  #monolith-link
    padding 1em
    user-select auto !important


// CUSTOM COMPONENTS
#toasts
  position fixed
  z-index 100
  top 3em
  max-width 640px
  width 100%

  margin-left 50%
  transform translateX(-50%)

  display flex
  flex-direction column

  .toast
    background rgba(#ABB1B1, .9)
    border 1px #ABB1B1 solid
    color #333
    max-width 640px

    padding 1em
    margin 1em
    border-radius 4px

    display flex
    align-items center

    animation toast-appear .5s ease-in-out

    span
      padding-right 2em
      flex 10
      width 100%

    button
      flex 1
      width 100%

    &.negative
      background rgba(red, .9)
      border 1px red solid
      color white

    &.positive
      background rgba(green, .9)
      border 1px green solid
      color white

    &.fading
      animation toast-disappear .5s ease-in-out forwards

@keyframes toast-appear
  0%
    opacity 0
    transform translateY(-20%)
  100%
    opacity 1
    transform translateY(0)

@keyframes toast-disappear
  0%
    opacity 1
    transform translateY(0)
  100%
    opacity 0
    transform translateY(-20%)
