.window.padded-more.inactive#add-player
  form.padded-horizontally-more
    .form-group
      label Name
      input(type="text", placeholder="Name").form-control
    .form-group
      label Corp
      select.form-control#add-player-corp
    .form-group
      label Runner
      select.form-control#add-player-runner
    .checkbox
      label
        input(type="checkbox").
        | Superbye
    .form-group
      .btn-group
        button.btn.btn-primary Add player
        button.btn.btn-default Cancel
