.window.padded-more.inactive#add-player
  form.padded-horizontally-more
    .form-group
      label Name
      input(type="text", placeholder="Name").form-control
    .form-group
      label Corp
      select.form-control
        optgroup(label="Haas-Bioroid")
          option Engineering the Future
          option Architects of Tomorrow
    .form-group
      label Runner
      select.form-control
        optgroup(label="Anarch")
          option Whizzard
          option Noise
    .checkbox
      label
        input(type="checkbox").
        | Superbye
