.window.padded-more.inactive#add-player
  form.padded-horizontally-more
    .form-group
      label Name
      input(type="text", placeholder="Name").form-control#add-player-name
    .form-group
      label Corp
      select.form-control#add-player-corp
    .form-group
      label Runner
      select.form-control#add-player-runner
    .form-group
      label Points
      input(type="number", value="0").form-control#add-player-points
    .checkbox
      label
        input(type="checkbox")#add-player-superbye
        | Superbye
    .form-group
      .btn-group
        button.btn.btn-primary#add-player-confirm Add player
        input(type='button', value="Cancel").btn.btn-default#add-player-cancel
