#no-cut
  form.padded
    .form-group
      label Cut size
      select.form-control#cut-size
        option(value="4") 4
        option(value="8") 8
        option(value="16") 16
        option(value="32") 32
    button.btn.btn-default.btn-large#cut-start Start the cut
    p Please remember that cut data cannot be loaded if you close the program.
#cut-table
