#no-cut
  form.padded
    .form-group
      label Cut size
      select.form-control#cut-size
        option(value="4") 4
        option(value="8") 8
        option(value="16") 16
        option(value="32") 32
    button.btn.btn-default.btn-large#cut-start Start the cut
    ul
      li Please remember that cut data cannot be loaded if you close the program.
#cut-table
  p.inactive#cut-no-matches No matches. Probably means the cut is complete.
  h3.padded-horizontally-more#cut-upper Upper Bracket
    table
      thead
        tr
          td Player 1
          td Player 2
          td Winner
          td
      tbody
  h3.padded-horizontally-more#cut-lower Lower Bracket
    table
      thead
        tr
          td Player 1
          td Player 2
          td Winner
          td
      tbody
