extends layout

block content
  .wrapper.center
    .container.column
      h1.yellow#main-header Golden
      .container.column#main-menu
        a(href="tournament.jade").button.center Start
        a(href="load.jade").button.center Load
        a(href="export.jade").button.center Export
        a(href="exit.jade").button.center Exit
