extends layout

block content
  .wrapper.center
    .container.column
      img(src="images/logo.svg").yellow#main-logo
      .container.column#main-menu
        a(href="#").button.center.yellow#start Start
        a(href="#").button.center.yellow#load Load
        a(href="#").button.center.yellow#exit Exit
  script(src="scripts/main.js")
