extends layout

block content
  .wrapper.center
    .container.column
      h1.yellow#main-header Golden
      .container.column#main-menu
        a(href="tournament.jade").button.center Start
        a(href="#").button.center#load Load
        a(href="#").button.center#exit Exit
  script(src="scripts/main.js")
