html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='stylehseets/fonts.styl')
    link(rel='stylesheet', href="stylesheets/style.styl")
    script(src="scripts/utils.js")
  body
    block content
