.window.padded-more.inactive#new-tournament
  form.padded-horizontally-more
    .form-group
      label Name
      input(type="text", placeholder="Name").form-control#new-tournament-name
    .form-group
      label Location
      input(type="text", placeholder="Location").form-control#new-tournament-location
    .form-group
      label Host
      input(type="text", placeholder="Host").form-control#new-tournament-host
    .form-group
      label Rank
      select.form-control#new-tournament-rank
        option(value="casual") Casual/Game Night Kit
        option(value="store") Store Championship
        option(value="regionals") Regional Championship
        option(value="nationals") National Championship
        option(value="worlds") Worlds Championship

    .form-group
      .btn-group
        button.btn.btn-primary#new-tournament-confirm New tournament
        input(type='button', value="Cancel").btn.btn-default#new-tournament-cancel
