extends layout

block content
  .wrapper.fade
    .row.center#main-bar
      h1#time 00:00
      .row#options
        a(href="#")#add-btn Add
        a(href="#")#matches-btn Matches
        a(href="#").secondary#exit-btn Exit
    .container.column#add-player
      .row.full
        input(type='text', placeholder='Nickname')#nick.large.full
      .row.full
        input(type='text', placeholder='Name (optional)')#name.small.full
        input(type='text', placeholder='Surname (optional)')#surname.small.full
      .row.full
        input(type='number', placeholder='Points (optional)')#points.small.full
        input(type='number', placeholder='SoS (optional)')#sos.small.full
        .column
          input(type='checkbox')#superbye
          h6(title="Superbye is a first round bye for champions of a lower tier tournament.") Superbye

      .row.full
        select#corp.full
        select#runner.full
      .row#buttons
        a(href="#").button#add-btn-finish Add
        a(href="#").button#cancel-btn Cancel
    .container.column.full#players
      .row.center.full.player
        h2 1
        .column.center.full
          h3 MrHudson
          h6 Hudson Thomas
        .column.pull-left.full
          .row
            i.icon-jinteki.display.color
            h6 Jinteki Biotech: Life Imagined
          .row.pull-left
            i.icon-criminal.display.color
            h6 Andromeda: Dispossessed Ristie
        .column.center
          h3 17
          h6 Points
        .column.center
          h3 4.2
          h6 Avg
        .column.center
          h3 2.75
          h6 SOS
  script(src="scripts/players.js")
