table.table-striped
  thead
    tr
      td Name
      td Corp
      td Runner
      td Bye
      td Points
      td Strength of Schedule
      td Ext. Strength of Schedule
      td Points/round
      td
  tbody
