img(src="assets/img/logo.svg")#welcome-logo
h1 Golden
.btn-group
  button.btn.btn-large.btn-primary#btn-new-tournament(title="New tournament (Ctrl+N)") New tournament
  button.btn.btn-large.btn-default#btn-load-tournament(title="Load tournament (Ctrl+O)") Load tournament
